<div class="flex justify-center items-center pb-8 pt-1">
  <a class="pr-30 text-gray-400 text-xl tracking-wide">liam.gilbride</a>
  <div class="flex">
    <a
      class="px-4 text-gray-600 text-xl font-semibold tracking-wide hover:underline"
      href="/">home</a
    >
    <a
      class="px-4 text-gray-600 text-xl font-semibold tracking-wide hover:underline"
      href="/posts">posts</a
    >
    <a
      class="px-4 text-gray-600 text-xl font-semibold tracking-wide hover:underline"
      href="/about">about</a
    >
  </div>
</div>
